<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>アカウント設定</title>
  </head>
  <body>



<script>

  $(document).ready(function(){

    get_draw_account();

  })
</script>


<script>

  // アカウント情報を取得して描画

  function get_draw_account(){

    $.ajax({
        type : "GET",
        url : "/ShareShogi/accounts/api/get",
    })
    .done(function(result){
      
      if (response["code"] == 200){
        let username  = result['result']['username'];
        let nickname  = result['result']['nickname'];
        $("#username").val(username);
        $("#nickname").val(nickname);
      }
      else {
          window.alert("失敗しました");
          console.log(response);
      };
    })
    .fail(function(){
      window.alert("失敗しました");
    })

  }

  // アカウント情報を更新

  $(document).on("click", "#save", function(){

    let username = $("#username").val();
    let nickname = $("#nickname").val();

    if ((username == null) || (username.length <= 5)){
      window.alert("username は５文字以上である必要があります");
      return
    }

    if ((nickname == null) || (nickname.length == 0)){
      window.alert("username は１文字以上である必要があります");
      return
    }

    let data = {"username" : username, "nickname" : nickname};

    $.ajax({
        type : "POST",
        url : "/ShareShogi/accounts/api/save",
        data : JSON.stringify(data)
    })
    .done(function(result){
      
      if (response["code"] == 200){
        window.alert("変更を保存しました");
        get_draw_account();
      }
      else {
          window.alert("失敗しました");
          console.log(response);
      };
    })
    .fail(function(){
      window.alert("失敗しました");
    })

  })
</script>


       <!--ヘッダー部分（上部固定） -->
       <header>
     		<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top fixed-top">
     			<a class="navbar-brand" href="#">アカウント設定</a>
     			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" stye="z-index:10">
     				<span class="navbar-toggler-icon"></span>
     			</button>

     			<div class="collapse navbar-collapse" id="navbarSupportedContent">
     				<ul class="navbar-nav mr-auto">
     					<li class="nav-item">
     						<a class="nav-link" href="/ShareShogi/books/search">ホーム画面に戻る</a>
     					</li>
     					<li class="nav-item">
                <a class="nav-link" href="/ShareShogi/books/mypage">マイブックを編集</a>
     					</li>
     					<li class="nav-item">
     						<a class="nav-link" href="/ShareShogi/accounts/mypage">アカウント設定</a>
     					</li>
     				</ul>
     			</div>
     		</nav>
       </header>
       <!--ヘッダーここまで -->


  <!--編集メニュー-->

    <div class="container">
      <div class="container">
        <h5 class="mt-5 pt-5">アカウント設定</h5>

        <form action="" method="post" id="accountForm">
          {% csrf_token %}

          <div class="form-group mt-5">
            <label for="username">ユーザネーム</label>
            <input type="text" class="form-control" id="username" value="" placeholder="username" name="username" pattern="^[a-zA-Z0-9]+$">
          </div>
          <div class="form-group">
            <label for="nickname">ニックネーム</label>
            <input type="text" class="form-control" id="nickname" value="" placeholder="nickname" name="nickname" pattern="^[a-zA-Z0-9]+$">
          </div>
          <!-- <div class="form-group">
            <label for="password">パスワード</label>
            <input type="password" class="form-control"  id="password" value="" placeholder="password" name="password" pattern="(?=.*?[a-z])(?=.*?[A-Z])(?=.*?\d)[a-zA-Z\d]{6,}">
          </div> -->

          <button type="button" name="submitButton" id="save" class="btn btn-primary mt-4">変更する</button>
        </form>
      </div>
    </div>

  </body>
</html>
