<!doctype html>
<html lang="ja">
  <head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

    <title>ブック情報編集</title>
  </head>

  <style>
    .upload{
      width:60vw;
      height:30vh;
      margin:0 auto;
      z-index:-1;
      background-image:url("{% static 'image/upload.png' %}");
      background-repeat:no-repeat;
      background-size:contain;
    }
  </style>

  <script>
    $(function(){

      //プレビュー表示
      $(".upload").click(function(){
        $(this).next().click();
      });
      $(".file").on('change', function(){
        var fileprop = $(this).prop('files')[0],
            find_img = $(this).parent().find('img'),
            filereader = new FileReader(),
            view_box = $(this).parent('.view_box');

        if(find_img.length){
          find_img.nextAll().remove();
          find_img.remove();
        }

        var img = '<div class="img_view"><img alt="" class="img"><a href="#" class="img_del"><br /><button class="btn btn-danger mt-3">画像を削除する</button></a></div>';

        view_box.append(img);
        view_box.find('.upload').hide();


        filereader.onload = function() {
          view_box.find('img').attr('src', filereader.result);
          img_del(view_box);
        }
        filereader.readAsDataURL(fileprop);
      });

      function img_del(target){
        target.find("a.img_del").on('click',function(){
          var self = $(this),
              parentBox = self.parent().parent().parent();
          if(window.confirm('画像を削除します。\nよろしいですか？')){
            setTimeout(function(){
              parentBox.find('input[type=file]').val('');
              parentBox.find('.img_view').remove();
            parentBox.find('.upload').show();
            } , 0);
          }
          return false;
        });
      };

      $(document).on("click", "#delete_book", function(){

        if(window.confirm('ブックを削除します（元に戻せません）')){
          $.ajax({
            url: '/ShareShogi/books/api/delete',
            method: 'GET',
          }).done(function( res ) {
            console.log( 'SUCCESS', res );
            window.alert("削除しました");
            window.location.href = "/ShareShogi/books/mypage";
          }).fail(function( jqXHR, textStatus, errorThrown ) {
            console.log( 'ERROR', jqXHR, textStatus, errorThrown );
          });
        };

      });



      // ブック情報を取得
      $.ajax({
        url: '/ShareShogi/books/api/get-info',
        method: 'GET',
      }).done(function( res ) {
        if (res["code"] != 200){
          window.alert("失敗しました");
        }
        else{
          let book_info = res["result"];

          let nickname = book_info["nickname"];
          let title = book_info["title"];
          let thumb_url = book_info["thumb_url"];
          let is_public = book_info["is_public"];
          let opening_sente = book_info["opening_sente"];
          let opening_gote = book_info["opening_gote"];

          $("#title").val(title);

          if (is_public){
            $("#public_flag").val("positive");
            $("#public_flag").text("公開設定変更（公開中）");
          }
          else{
            $("#public_flag").val("negative");
            $("#public_flag").text("公開設定変更（非公開中）");
          }

        }
      }).fail(function( jqXHR, textStatus, errorThrown ) {
        console.log( 'ERROR', jqXHR, textStatus, errorThrown );
      });
      
    });

    $(document).on("click", "#public_flag", function(){
      let flag = $("#public_flag").val();
      if (flag == "negative"){
            $("#public_flag").val("positive");
            $("#public_flag").text("公開設定変更（公開中）");
          }
      else{
        $("#public_flag").val("negative");
        $("#public_flag").text("公開設定変更（非公開中）");
      }
    })


  </script>
  <body>
    <!--ヘッダー部分（上部固定） -->
    <header>
  		<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top fixed-top">
  			<a class="navbar-brand" href="#">ブック情報を編集</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" stye="z-index:10">
  				<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
  				<ul class="navbar-nav mr-auto">
  					<li class="nav-item">
  						<a class="nav-link" href="/ShareShogi/books/search">ホーム画面に戻る</a>
  					</li>
  					<li class="nav-item">
              <a class="nav-link" href="/ShareShogi/books/mypage">マイブックを編集</a>
  					</li>
  					<!-- <li class="nav-item">
  						<a class="nav-link" href="/ShareShogi/accounts/mypage">アカウント設定</a>
  					</li> -->
  				</ul>
  			</div>
  		</nav>
    </header>
    <!--ヘッダーここまで -->

    <div style="margin-top:20vh; margin-left: 10vw;">
      <button id="delete_book" class="btn btn-danger" >このブックを削除</button>
    </div>

    <div style="margin: 5vh 10vw;">
      <h3 class="mt-3">ブック情報</h3>
      <!-- <button id="delete_book" class="btn btn-danger ml-5" >このブックを削除</button> -->
      <!-- <button id="back" class="btn btn-primary ml-5" onclick="window.location.href='/ShareShogi/chapters/mypage'" >戻る</button> -->
    </div>

    <div style="margin: 5vh 10vw;">
      <button id="public_flag" class="btn btn-info" value="negative" >公開設定変更（非公開中）</button>
    </div>
    <div style="margin: 5vh 10vw;">
      <h5>タイトル</h5>
      <textarea id="title" style="width: 70vw; border: solid 1px #000000"></textarea>
    </div>
    <div style="margin: 5vh 10vw;">
      <button id="back" class="btn btn-warning" onclick="window.location.href='/ShareShogi/chapters/mypage'" >変更せずに戻る</button>
    </div>
    <div style="margin: 5vh 10vw;">
      <button id="back" class="btn btn-primary" onclick="window.location.href='/ShareShogi/chapters/mypage'" >変更を反映する</button>
    </div>

    <div class="container">

      <!-- <h5 class="mt-3">ブック情報編集</h5> -->

      <!-- <form action="/ShareShogi/books/update-info" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <div class="view_box">
            <div class="upload" ></div>
            <input type="file" name="thumb" class="file" style="display:none" >
          </div>
        </div>

        <div class="form-group">
          <label for="chapterTitle">タイトル</label>
          <textarea class="form-control" id="chapterTitle" rows="3" name="title" placeholder="タイトルを入力してください"></textarea>
        </div>

        <div class="form-group">
            <label for="sente">先手の戦型を選択</label>
            <select class="form-control" id="sente" name="opening_sente">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            </div>

            <div class="form-group">
            <label for="gote">後手の戦型を選択</label>
            <select class="form-control" id="gote" name="opening_gote">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <button id="back" type="submit" class="btn btn-primary" >変更せずに戻る</button>

        <div class="form-group mb-3">
          <button id="save_book" class="btn btn-primary ml-3" >変更を保存</button>
          <button id="delete_book" class="btn btn-danger ml-5" >このブックを削除</button>
        </div>

      </form> -->
    </div>

  </body>
</html>
