<!doctype html>
<html lang="ja">

  <head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- lodash.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

    <title>ストーリー一覧</title>
  </head>
  <body>

  
<!-- html要素のテンプレート -->

<!-- チャプター -->

<script type="text/html" id="panel_template">

  <div class="col-6 border border-secondary onePanel" id=<%= id %> >
    <img src=<%= image_url %> class="card-img-top mt-3" alt="..." style="max-height:35vh; max-width:95%; object-fit:contain;" >
    
    <div class="h-25 mb-2" style="overflow:hidden"><b><%= title %></b></div>
  </div>
</script>

<!-- <h6 style="font-size:12px;" class="mt-3">投稿者：<%= publisher %></h6> -->


<script>

    function draw_chapters(chapters){
      
      console.log(chapters);
      
      $("#allpanel").html("");
      
      for (chapter of chapters){

        let title = chapter["title"];
        if (title.length >= 13){
            title = title.slice(0, 13) + "...";
        }

          
        var compiled_panel = _.template($("#panel_template").html());
        var panel_html = compiled_panel({
            "id" : chapter["chapter_id"],
            "image_url" : chapter["thumb_url"],
            "title" : title
            //   "publisher" : book["publisher"]
        });

        $("#allpanel").append(panel_html);
        }
    };


    // シーン画面へ遷移

    $(document).on("click", ".onePanel", function(){

        let chapter_id = $(this).attr("id");
        // window.alert(book_id);

        $.ajax({
        type : "POST",
        url : "/ShareShogi/transition/chapters-to-scenes",
        data : JSON.stringify({"chapter_id" : chapter_id, "is_mine" : true})
        })
        .done(function(result){
        console.log(result);
        if (result["code"] != 200){
            window.alert("失敗しました");
        }
        else {
            window.location.href = result["result"];
        }
        })
        .fail(function(jqXHR, textStatus, errorThrown){
            window.alert("ページ遷移に失敗しました");
        });

    })

    // 共有リンクを取得

    function showLink(){
        $.ajax({
            type : "GET",
            url : "/ShareShogi/link/api/get-mine",
        })
        .done(function(result){
            console.log(result);
            if (result["code"] != 200){
                window.alert("失敗しました");
            }
            else {
                let link = result["link"];
                window.alert(link);
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown){
            window.alert("失敗しました");
        });
    }


</script>

  
  <script>

  
    $(function(){

    //   let sample_thumb = "https://www.jma-net.go.jp/sat/data/web89/parts89/image/ir_201706201100-00.png"
    //   let sample_book_info = {
    //     "book_id" : 100,
    //     "thumb_url" : sample_thumb,
    //     "nickname" : "ニックネーム",
    //     "title" : "初心者向けの四間飛車定跡です"
    //   };
    //   let sample_books = [];
    //   for (i=0; i<6; i++){
    //     sample_books.push(sample_book_info);
    //   }

    //   draw_books(sample_books);

        $.ajax({
          type : "GET",
          url : "/ShareShogi/chapters/get",
        })
        .done(function(result){

          if (result["code"] != 200){
            window.alert("読み込みに失敗しました");
          }
          else{

            let BookChapters = result["result"];

            let book_id = BookChapters["book_id"];
            let book_title = BookChapters["book_title"];
            let publisher = BookChapters["publisher"];
            // $("#bookTitle").text(book_title);

            let chapters = BookChapters["chapters"];
            draw_chapters(chapters);
          }
        })
        .fail(function(jqXHR, textStatus, errorThrown){
            window.alert("failed load");
        });

    
    });

  </script>
    <!--ヘッダー部分（上部固定） -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top fixed-top">
        <a class="navbar-brand" href="#">チャプター一覧</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" stye="z-index:10">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/ShareShogi/books/search">ホーム画面に戻る</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ShareShogi/books/mypage">マイブックを編集</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/ShareShogi/accounts/mypage">アカウント設定</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>
    <!--ヘッダーここまで -->


    <div class="container">

      <div style="margin-top: 15vh; margin-bottom: 2vh;">
          <button class="btn btn-primary mx-auto" onclick="document.location.href='/ShareShogi/books/infoEditor';">ブック情報を編集</button>
      </div>
      <div>
          <button class="btn btn-primary mx-auto" style="margin-bottom: 2vh;" onclick="window.location.href='/ShareShogi/chapters/new';">チャプターを新規作成</button>
      </div>
      <div>
          <button class="btn btn-info mx-auto" onclick="showLink()">共有リンクを取得</button>
      </div>

      <a href="/ShareShogi/books/mypage">
        <div class="row  fixed-bottom">
          <button type="submit" class="btn btn-primary btn-bg col-12" style="height:6vh; font-size:20px;">ブック一覧へ戻る</button>
        </div>
      </a>

      <div class="col-12 border-bottom border-secondary mt-3 mb-5 p-2 mx-auto">
        <!-- <p class="text-center h6 search_word">四間飛車＊三間飛車</p> -->

        <div class="row mt-1 pt-3" id="allpanel">

            <!-- mt-5 -->

            <!-- <div class="col-6 border border-secondary">
              <img src="./shogi-board.jpg" class="card-img-top mt-3" alt="...">
              <h6 style="font-size:12px;">投稿者：ニックネーム</h6>
              <div class="h-25" style="overflow:hidden">文章が入ります。文章が入ります。文章が入ります文章が入ります</div>
            </div> -->

        </div>

      </div>


    </div>
  </body>
</html>
