<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	{% load static %}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>各シーン</title>

	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage very simple demo." />
	<meta name="keywords"  content="fullpage,jquery,demo,simple" />
	<meta name="Resource-type" content="Document" />


	<!-- jquery -->
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        
    <!-- <script type="text/javascript" src="../dist/fullpage.js"></script>
    <script type="text/javascript" src="../dist/fullpage.extensions.min.js"></script>
    <script type="text/javascript" src="../dist/jquery.fullpage.extensions.min.js"></script> -->

    <!-- <link rel="stylesheet" type="text/css" href="../dist/fullpage.css">
	<link rel="stylesheet" type="text/css" href="../css/examples.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css"> -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'dist/fullpage.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/examples.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script type="text/javascript" src="{% static 'dist/fullpage.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/fullpage.extensions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/jquery.fullpage.extensions.min.js' %}"></script>

  	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/vendors/easings.min.js"></script>

	<!-- lodash.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
</head>


<!-- html要素のテンプレート -->

<!-- 各セクション（チャプターに相当） -->
<script type="text/html" id="section_template">

	<div class="section " id="chapter-<%= chapter_id %>" style="height:100vh; width:100vw;">
	</div>

</script>

<!-- チャプター -->
<script type="text/html" id="chapter_template">

	<div class=" slide border" id="chapterPanel-<%= chapter_id %>" style="background-color:#ffffff;">
		<div class="row mb-5 mt-5">
			<button class="btn btn-danger btn-bg col-5 ml-5 mr-3 mt-5" style="height:5vh; font-size:40px;">チャプターごと削除</button>
			<button class="btn btn-primary btn-bg col-5 ml-5 mt-5" style="height:5vh; font-size:40px;">編集</button>

		</div>
		<div class=" h-75 alert-success mb-5 " style="border:5px solid; margin:0 3vw;">
		<img src="<%= thumb_url %>" class="card-img-top mt-5 ml-5 mr-3" alt="..." style="width:90%; height:50%; ">
		<div class="h-25  comments mt-5 ml-5 mb-5 text-dark " style="overflow:scroll; font-size:50px; border:5px solid; width:83vw;"><%= title %></div>
		<div class="row">
			<button class="btn btn-primary btn-bg col-5 ml-5 mr-3" style="height:5vh; font-size:40px; z-index:10;">前にチャプター追加</button>
			<button class="btn btn-primary btn-bg col-5 ml-5 " style="height:5vh; font-size:40px; z-index:10;">次へチャプター追加</button>

		</div>
		</div>
	</div>

</script>

<!-- 各シーン -->
<script type="text/html" id="scene_template">

	<div class=" slide border" id=<%= scene_id %> >
		<div class="row mb-5 mt-5">
			<button class="btn btn-danger btn-bg col-5 ml-5 mr-3 mt-5" style="height:5vh; font-size:40px;">削除</button>
			<button class="btn btn-primary btn-bg col-5 ml-5 mt-5" style="height:5vh; font-size:40px;">編集</button>

		</div>

		<div class="h-75 mb-5" style="border:5px solid; margin:0 3vw;">
		<img src="<%= image_url %>" class="card-img-top  mt-5 ml-5 mr-3" alt="..." style="width:90%; height:50%;">
		<div class="h-25 comments mt-4 ml-5 mb-5 text-dark " style="overflow:scroll; border:5px solid;  font-size:50px; width:83vw;"><%= text %></div>
		<div class="row">
			<button class="btn btn-primary btn-bg col-5 ml-5 mr-3" style="height:5vh; font-size:40px; z-index:10;">前にシーン追加</button>
			<button class="btn btn-primary btn-bg col-5 ml-5 " style="height:5vh; font-size:40px; z-index:10;">次へシーン追加</button>

		</div>
		</div>
	</div>

</script>

<script>
	function draw_ChaptersScenes(tree){

		// 元ある描画を更新
		$("#fullpage").html("");

		for (chapter of tree) {

			let chapter_id = chapter["chapter_id"];
			let chapter_thumb_url = chapter["thumb_url"];
			let chapter_title =  chapter["title"];

			// セクションを追加
			var compiled_section = _.template($("#section_template").html());
			var section_html = compiled_section({
				"chapter_id" : chapter_id,
			});
			$("#fullpage").append(section_html);

			// チャプターパネルを追加
			var compiled_chapter = _.template($("#chapter_template").html());
			var chapter_html = compiled_chapter({
				"chapter_id" : chapter_id,
				"thumb_url" : chapter_thumb_url,
				"title" : chapter_title
			});
			$("#chapter-"+String(chapter_id)).append(chapter_html);

			// 各シーンパネルを追加
			for (scene of chapter["scenes"]){
				var compiled_scene = _.template($("#scene_template").html());
				var scene_html = compiled_scene({
					"scene_id" : scene["scene_id"],
					"image_url" : scene["image_url"],
					"text" : scene["text"]
				});
				$("#chapter-"+String(chapter_id)).append(scene_html);
			}
		}
	}
</script>


<body>
	<script>
		$(document).ready(function(){

            // let sample_image = "https://www.jma-net.go.jp/sat/data/web89/parts89/image/ir_201706201100-00.png"
            // let sample_text = "これはテストだよ"
            // let sample_tree = [
            // 	{
            // 		"chapter_id" : 100,
            // 		"scenes" : [
            // 			{"scene_id" : 1, "text" : sample_text, "thumb_url" : sample_image},
            // 		]
            // 	},
            // 	{
            // 		"chapter_id" : 110,
            // 		"scenes" : [
            // 			{"scene_id" : 3, "text" : sample_text, "thumb_url" : sample_image},
            // 			{"scene_id" : 4, "text" : sample_text, "thumb_url" : sample_image},
            // 		]
            // 	},
            // 	{
            // 		"chapter_id" : 120,
            // 		"scenes" : [
            // 			{"scene_id" : 5, "text" : sample_text, "thumb_url" : sample_image},
            // 			{"scene_id" : 6, "text" : sample_text, "thumb_url" : sample_image},
            // 			{"scene_id" : 10, "text" : sample_text, "thumb_url" : sample_image}
            // 		]
            // 	}
            // ]

            $.ajax({
                    type : "GET",
                    url : "/ShareShogi/scenes/get",
                    // data : JSON.stringify({"book_id" : 300})
                })
                .done(function(result){

                    if (result["code"] != 200){
                        window.alert("失敗しました");
                    }

                    else {

                        BookChaptersScenes = result["result"];
                        console.log("response");
                        console.log(BookChaptersScenes);

                        let book_id = BookChaptersScenes["book_id"];
                        let book_title = BookChaptersScenes["book_title"];
                        let publisher = BookChaptersScenes["publisher"];

                        let ChaptersScenes = BookChaptersScenes["ChaptersScenes"];
                        draw_ChaptersScenes(ChaptersScenes);

                    }
                })
                .fail(function(){
                    window.alert("失敗しました");
                })
                .always(function(){
                    // fullpage.jsを作用させる
                    var myFullpage = new fullpage('#fullpage', {
                        sectionsColor: ['#ffffff'],
                        licenseKey: '8AE83121-BE894D4D-BB42231E-34341677'

                    });
                });

            // draw_scenes(sample_tree);

            // $('#fullpage').fullpage();
            // var myFullpage = new fullpage('#fullpage', {
            // 	sectionsColor: ['#ffffff'],
            // 	licenseKey: '8AE83121-BE894D4D-BB42231E-34341677'

            // });

            // $.fn.fullpage.destroy('all');
            // $.fn.fullpage.reBuild();


		})



	</script>

	<!--  ヘッダー部分（上部固定） -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top fixed-top">
			<a class="navbar-brand h1" href="#" style="font-size:70px;">プレビュー</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" stye="z-index:10">
				<span class="navbar-toggler-icon" style="font-size:50px;"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- <ul class="navbar-nav mr-auto">
					<li class="nav-item"style="height:5vh; font-size:30px;" >
						<a class="nav-link" href="search_book2.html">ホーム画面に戻る</a>
					</li>
					<li class="nav-item" style="height:5vh; font-size:30px;">
						<a class="nav-link" href="/ShareShogi/books/mypage">マイブックを編集</a>
					</li>
					<li class="nav-item" style="height:5vh; font-size:30px;">
						<a class="nav-link" href="account.html">アカウント設定</a>
					</li>
				</ul> -->
			</div>
		</nav>
	</header>


<div class="container-fluid" style="padding:0px;">
	<!-- <a href="/ShareShogi/chapters/mypage"> -->
	<a>
<!---
		<div class="row  fixed-bottom pb-5 mb-5">
			<button class="btn btn-primary btn-bg col-5 ml-5 mr-3 " style="height:5vh; font-size:40px;">前にチャプター追加</button>
				<button class="btn btn-primary btn-bg col-5 ml-5" style="height:5vh; font-size:40px;">次へチャプター追加</button>

		</div>
		<div class="row  fixed-top pt-5 pl-5" style="margin-top:6vh;">
			<button class="btn btn-danger btn-bg col-5 ml-5 mr-5 " style="height:5vh; font-size:40px;">チャプターごと削除</button>
				<button class="btn btn-primary btn-bg col-4 ml-5" style="height:5vh; font-size:40px;">編集</button>

		</div>
	</a>
-->
	<div id="fullpage" >
<!--
		<div class="section">

				<div class=" slide border">
					<img src="https://www.jma-net.go.jp/sat/data/web89/parts89/image/ir_201706201100-00.png" class="card-img-top " alt="...">
					<div class="h-25 comments" style="overflow:hidden">文章が入ります。文章が入ります。文章が入ります文章が入ります文章が入ります文章が入ります文章が入ります文章が入ります</div>
				</div>
				<div class=" slide border">
					<img src="https://www.jma-net.go.jp/sat/data/web89/parts89/image/ir_201706201100-00.png" class="card-img-top " alt="...">
					<div class="h-25 comments" style="overflow:hidden">文章が入ります。文章が入ります。文章が入ります文章が入ります文章が入ります文章が入ります文章が入ります文章が入ります</div>
				</div>
		</div>

		<div class="section">
			<div class=" border border-secondary w-75 mx-auto">
				<img src="https://www.jma-net.go.jp/sat/data/web89/parts89/image/ir_201706201100-00.png" class="card-img-top " alt="...">
				<div class="h-25" style="overflow:hidden">文章が入ります。文章が入ります。文章が入ります文章が入ります文章が入ります文章が入ります文章が入ります文章が入ります</div>
			</div>
		</div>
-->
	</div>
</div>

</body>
</html>
