<!DOCTYPE html>

<header>
    <meta charset="UTF-8">
    <!-- boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <!-- boostrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- lodash.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>


    <!-- グローバルナビゲーション -->

    <nav class="navbar navbar-default">

        <!-- 左側 -->
        <div id="nav_items_left" class="collapse navbar-collapse navbar-left">
            <p class="nav navbar-text">＜プロジェクト一覧＞</p>
        </div>

        <!-- 右側 -->
        <div id="nav_items_right" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="">おはよう</a></li>
            </ul>
        </div>

        <style>
            #nav_items_right {
                margin-right: 7vw;
            }
            #nav_items_right.navbar-nav li{
                width: 5vw;
                text-align: center;
            }
            #nav_items_right li:hover {
                background-color: #ffc9d7;
            }
        </style>
    </nav>

    <!-- グローバルナビゲーション ここまで-->

</header>


<body>

    <div class="container-fluid">

        <style>
            .container-fluid {
                margin: 10px 5vw;
            }
        </style>
        
        <div class="row">

            <!-- 作業ボタン -->

            <div class="col-xs-2">

                <div class="">

                    <div class="LeftButton btn btn-primary" id="NewProjectModal_opener">
                        新規プロジェクト
                    </div>

                    <div class="LeftButton btn btn-info">
                        並び替え
                    </div>

                    <style>
                        .LeftButton {
                            display: inline-block;
                            /* background-color: gray; */
                            /* color: white; */
                            height: 10vh;
                            width: 90%;
                            text-align: center;
                            padding-top: 4vh;
                            border: solid black 0.2px;
                        }
                    </style>

                </div>
            </div>

            <!-- 作業ボタン ここまで-->


            <!-- プロジェクト一覧 -->

            <div class="col-xs-9" style="overflow-y: scroll; height:92vh;" id="projects">
                
                <!-- <div class="panel panel-info OneProject" id="100">
                    <div class="panel-body">
                        <p>四間飛車VS穴熊（サンプル）</p>
                    </div>
                    <div class="panel-footer">
                        <div>
                            <button class="btn btn-primary TransitToBoard">盤面を編集</button>
                            <button class="btn btn-primary TransitToScenario">シナリオ一覧</button>
                            <button class="btn btn-danger pull-right">削除</button>
                        </div>
                    </div>
                </div>

                
                <div class="panel panel-info OneProject" id="400">
                    <div class="panel-body">
                        <p>四間飛車VS穴熊（サンプル）</p>
                    </div>
                    <div class="panel-footer">
                        <div>
                            <button class="btn btn-primary TransitToBoard">盤面を編集</button>
                            <button class="btn btn-primary TransitToScenario">シナリオ一覧</button>
                            <button class="btn btn-danger pull-right">削除</button>
                        </div>
                    </div>
                </div> -->

            </div>
    

            <!-- プロジェクト一覧 ここまで-->

        </div>


        <!-- モーダル -->

        <!-- モーダル　新規プロジェクト作成 -->
        <div class="modal fade" id="NewProjectModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                        <h4 class="modal-title">新規プロジェクト</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>タイトルを入力</label>
                            <input class="form-control" name="title">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                        <button type="button" class="btn btn-primary" id="NewProjectModal_AddButton">作成</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- html要素のテンプレート -->

    <!-- プロジェクト -->
    <script type="text/html" id="project_template">

        <div class="panel panel-info OneProject" id=<%= project_id %>>
            <div class="panel-body">
                <p><%= title %></p>
            </div>
            <div class="panel-footer">
                <div>
                    <button class="btn btn-primary TransitToBoard">盤面を編集</button>
                    <button class="btn btn-primary TransitToScenario">シナリオ一覧</button>
                    <button class="btn btn-danger pull-right">削除</button>
                </div>
            </div>
        </div>

    </script>


    <script>

        // ロードされた時

        $(document).ready( function(){
            USER_ID = get_id_from_url();
            get_draw_projects();

            // sample_projects = [
            //     {"project_id" : 100, "title" : "サンプル１"},
            //     {"project_id" : 200, "title" : "サンプル２"}
            // ];
        });

        // user_idを取得
        function get_id_from_url(){
            let url = location.href;
            let url_split = url.split("/");
            let the_id = url_split[url_split.length-1];
            the_id = parseInt(the_id, 10);
            console.log("id : " + String(the_id));
            return the_id
        }

        // プロジェクト一覧を取得
        function get_draw_projects(){
            $.ajax({
                type : "POST",
                url : "/account/project/get",
                data : JSON.stringify({"user_id" : USER_ID})
            })
            .done(function(response){
                if (response["code"] == 200){
                    let projects = response["data"]["projects"];
                    console.log("receive response");
                    console.log(projects);
                    draw_projects(projects);
                }
                else {
                    window.alert(response["error_message"]);
                };
            })
        }

        function draw_projects(projects){
            for (info of projects){
                let project_id = info["project_id"];
                let title = info["title"];
                var compiled = _.template($("#project_template").html());
                $("#projects").append(
                    compiled({
                        "project_id" : String(project_id),
                        "title" : title
                    })
                );
            }
        }



        // モーダルを開く
        $(document).on("click", "#NewProjectModal_opener", function(){
            $("#NewProjectModal").modal();
        })


        // 新規プロジェクト作成
        $("#NewProjectModal_AddButton").on("click", function(){
            let title = $("#NewProjectModal input[name='title']").val();
            if ((title == "") || (title == null)){
                window.alert("タイトルを入力してください");
                exit();
            }
            console.log("title : " + title);
            $.ajax({
                type : "POST",
                url : "/account/project/new",
                data : JSON.stringify({"user_id" : USER_ID, "title" : title})
            })
            .done(function(response){
                if (response["code"] == 200){
                    console.log("success : make_new_project");
                    // 描画し直す
                    $("#projects").html("");
                    get_draw_projects();
                }
                else {
                    window.alert("failed");
                    window.alert(response["error_message"]);
                };
            })
        })

        // 盤面を編集するページへ移動

        $(document).on("click", ".TransitToBoard", function(){
            let project_id = $(this).closest(".OneProject").attr("id");
            window.location.href = "/board/" + String(project_id);
        })

        // シナリオ一覧ページへ移動

        $(document).on("click", ".TransitToScenario", function(){
            let project_id = $(this).closest(".OneProject").attr("id");
            window.location.href = "/bot/scenarios/" + String(project_id);
        })

    </script>
</body>